.bar{
    width: 40%;
    height: 70%;
    position: relative;
    border-radius: 1.8rem;
    margin: auto;
    background: rgb(19,255,2);
    background: linear-gradient(0deg, rgba(19,255,2,1) 0%, rgba(211,255,0,1) 25%, rgba(255,231,0,1) 50%, rgba(255,166,0,1) 75%, rgba(255,0,0,1) 100%);
    
}

.arrow{
    bottom: -1rem;
    font-size: 2.5rem;
    position: absolute;
    z-index: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#lion-arrow{
    left: -130%;
    color: #fb991a;

}
#birds-arrow{
    right: -150%;
    color: #179ef6;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    
}

.text{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    margin-left: -15%;
    font-size: 1.5rem;

}

#dbCounter{
    font-size: 55%;
    margin-left: 70%;
    margin-top: -85%;
}
#dbCounter2{
    font-size: 55%;
    margin-left: -85%;
    margin-top: -85%;
}
h2{
    margin: 6px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
h4{
    margin: 6px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.pictograms{
    position: absolute;
    height: 35%;
}
