* {
    font-family: 'Roboto', sans-serif;
}

.block-container {
    background-color: #CD5C5C;
    height: 10rem;
    position: relative;
    width: 90%;
    border-radius: 1rem;
    margin: 4rem auto auto auto;


    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.block-container p {
    color: #ddd0d0;

    font-size: 1rem;
}

.text-block {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.dba {
    font-size: 2rem;
    color: white;
}