.container{
    background-color: #efddb3;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4rem;
    text-align: center;

}